In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
city_data = pd.read_csv("../Output_Data/Cities.csv")
city_data.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,London,51.51,-0.13,278.15,91,100,2.42,GB,1607545730
1,1,New York,40.71,-74.01,275.15,77,90,6.20,US,1607545721
2,2,Miami,25.77,-80.19,292.04,39,20,3.10,US,1607545546
3,3,San Diego,32.72,-117.16,294.15,32,75,2.60,US,1607545683
4,4,Sydney,-33.87,151.21,292.15,72,0,2.60,AU,1607545227

In [3]:
cities = city_data[["Latitude", "Longitude"]]
humidity = city_data["Humidity"].astype(float)

In [4]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(cities, weights = humidity, dissipating=False, max_intensity =10, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))