In [54]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [119]:
city_data = pd.read_csv("../Output_Data/Cities.csv")
city_data = city_data.drop("Unnamed: 0", axis=1)
city_data.head()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,London,51.51,-0.13,41.0,90,100,6.22,GB,1607546735
1,New York,40.71,-74.01,35.6,77,90,13.87,US,1607546736
2,Miami,25.77,-80.19,66.0,39,20,6.93,US,1607546745
3,San Diego,32.72,-117.16,69.8,32,75,5.82,US,1607546868
4,Sydney,-33.87,151.21,68.0,72,0,4.70,AU,1607546967

In [97]:
cities = city_data[["Latitude", "Longitude"]]
humidity = city_data["Humidity"].astype(float)
cities

   Latitude  Longitude
0     51.51      -0.13
1     40.71     -74.01
2     25.77     -80.19
3     32.72    -117.16
4    -33.87     151.21

In [57]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(cities, weights = humidity, dissipating=False, max_intensity =10, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [87]:
city_data[(city_data["Max Temp"] >= 65) & (city_data["Max Temp"] < 80) & 
                          (city_data["Wind Speed"] < 15) & (city_data["Cloudiness"] != 0)]

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Miami,25.77,-80.19,66.0,39,20,6.93,US,1607546745
3,3,San Diego,32.72,-117.16,69.8,32,75,5.82,US,1607546868

In [89]:
ideal_weather = city_data[(city_data["Max Temp"] >= 65) & (city_data["Max Temp"] < 80) & 
                          (city_data["Wind Speed"] < 15) & (city_data["Cloudiness"] != 0)]
ideal_weather
# ideal_weather = city_data[(city_data["Max Temp"] >= 65) & (city_data["Max Temp"] < 80) & 
#                           (city_data["Wind Speed"] < 5) & (city_data["Cloudiness"] == 0)]
# ideal_weather

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Miami,25.77,-80.19,66.0,39,20,6.93,US,1607546745
3,3,San Diego,32.72,-117.16,69.8,32,75,5.82,US,1607546868

In [103]:
# location = ideal_weather[["Latitude", "Longitude"]]
# print(location)
#location = f"{ideal_weather["Latitude"]},{ideal_weather["Longitude"]}"
# latitude = ideal_weather["Latitude"]
# latitude

2    25.77
3    32.72
Name: Latitude, dtype: float64

In [109]:
url

'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=2    25.77\n3    32.72\nName: Latitude, dtype: float64,2    -80.19\n3   -117.16\nName: Longitude, dtype: float64&radius=5000&type=hotel&key=AIzaSyCWZ2y7T5ZXNt6kCaaI5WIBueJ0zRPkcj4'

In [122]:
ideal_weather["Hotel Name"] = ""

In [130]:
response["results"][0]

{'geometry': {'location': {'lat': 32.715738, 'lng': -117.1610838},
  'viewport': {'northeast': {'lat': 33.114249, 'lng': -116.90816},
   'southwest': {'lat': 32.534856, 'lng': -117.3097969}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/geocode-71.png',
 'name': 'San Diego',
 'photos': [{'height': 438,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105770721662647844350">عبدالرحمن الاسكندري</a>'],
   'photo_reference': 'ATtYBwI4A5b8RybpS9gikm--dyXndSdMcf8L4SK-iRI63HOEXgkdM9JT4NC9fsck-hn-fWy1tIVKMHeAWCrZ0MzzCSP3-n2Z5OcimKJG-b5lQAj5tDlX7M7wXIynx_n0O_Q999CG7F0ui3RGaFu3O8IAMSjVVOJN2b0lU_HxIDtBhoMWfBYx',
   'width': 701}],
 'place_id': 'ChIJSx6SrQ9T2YARed8V_f0hOg0',
 'reference': 'ChIJSx6SrQ9T2YARed8V_f0hOg0',
 'scope': 'GOOGLE',
 'types': ['locality', 'political'],
 'vicinity': 'San Diego'}

In [133]:
city_data["Hotel Name"] = ""
city_data

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,London,51.51,-0.13,41.0,90,100,6.22,GB,1607546735,
1,New York,40.71,-74.01,35.6,77,90,13.87,US,1607546736,
2,Miami,25.77,-80.19,66.0,39,20,6.93,US,1607546745,
3,San Diego,32.72,-117.16,69.8,32,75,5.82,US,1607546868,
4,Sydney,-33.87,151.21,68.0,72,0,4.70,AU,1607546967,

In [136]:

radius = "5000"
place_type = "lodging"
#url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={location}&radius={radius}&type={place_type}&key={g_key}"

for index, city in city_data.iterrows():
    latitude = city["Latitude"]
    longitude = city["Longitude"]
    location = f"{latitude},{longitude}"
    url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={location}&radius={radius}&type={place_type}&key={g_key}"
    response = requests.get(url).json()
    try:
        #print(url)
        name = response["results"][0]["name"]
        city_data.loc[index, "Hotel Name"] = name
        
    except KeyError:
        continue
city_data

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,London,51.51,-0.13,41.0,90,100,6.22,GB,1607546735,"Radisson Blu Edwardian, Hampshire"
1,New York,40.71,-74.01,35.6,77,90,13.87,US,1607546736,Millennium Hilton New York Downtown
2,Miami,25.77,-80.19,66.0,39,20,6.93,US,1607546745,Kimpton EPIC Hotel
3,San Diego,32.72,-117.16,69.8,32,75,5.82,US,1607546868,Hilton San Diego Bayfront
4,Sydney,-33.87,151.21,68.0,72,0,4.70,AU,1607546967,QT Sydney

In [98]:
#url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.87,151.21&radius=5000&type=hotel&key=AIzaSyCWZ2y7T5ZXNt6kCaaI5WIBueJ0zRPkcj4"
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=" + location + "&radius=" + radius + "&type=" + place_type + "&key=" + g_key

response = requests.get(url).json()

print(response)

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}

In [ ]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(cities, weights = humidity, dissipating=False, max_intensity =10, point_radius=1)
fig.add_layer(heat_layer)
hotel_layer
fig